/* src/index.css */
.dndnode {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.dndnode.input {
  background-color: #e3f2fd;
}

.text-node {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #bbdefb;
  text-align: center;
}
